body {
background-image: url(fondo.png);
color: whitesmoke;
}

h1{
    font-family: Arvo;
}

.img-1, .img-2, .img-3, .img-4{

width: 400px;
height: 300px;

}

p, h1, h2, h3, h4, nav, ul {

    background-color: darkblue;
}

.texto-centrado {
    text-align: center;
}

.video-centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagen-centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

